/* Cascading Style Sheet for HTML Forms */

table.form, table.bar {
	table-layout: auto;
	border-collapse: separate;
	border-spacing: 3px 3px;
	border-width: 4px 4px 4px 4px;
	padding: 6px 6px 6px 6px;
	width: 100%;
}

/* Title Top Row */
table.form tr.title {
	font-size: 9pt;
	background-color: #0B228C;
	font-family: Tahoma, Verdana;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
}

/* Button bar table */
table.bar td {
	background-color: #0B228C;
	text-align: center;
	vertical-align: middle;
}

table.form tr {
	font-family: Tahoma, Verdana;
	vertical-align: middle;
	background-color: #EFEFEF;
}

table.form td.label {
	background-color: #0B228C;
	text-align: right;
	color: #FFFFFF;
	font-size: 8pt;
	width: 124px;
}

table.form td.top {
	vertical-align: top;	
}

table.form td.coolerPost {
	text-align: left;
	font-size: 9pt;
	vertical-align: top;
	width: 195px;
}

/* Default row with data */
table.form td.data {
	text-align: left;
	font-size: 9pt;
}

select {
	font-family: Tahoma, Verdana;
	font-size: 9pt;
	font-weight: normal;
	background-color: #0080D1;
	color: #FFFFFF;
}

input, textarea {
	font-family: Tahoma, Verdana;
	font-size: 9pt;
	border: 1px solid #0B228C;
	background: #F0F4F8;
}

input.radio, input.check {
	border: none;
	font-size: 8pt;
}

tr.title input.check {
	background-color: inherit;
}

input.req, textarea.req {
	border: 1px solid #E00404;
	background: #FFF8FA;
}

select.req {
	border: 1px solid #E00404;
}

*.label :link, *.label :visited {
	font-size: 9pt;	
	font-family: Tahoma, Verdana;
	text-decoration: underline;
	color: #EFFFFF;
}

*.title a {
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Tahoma, Verdana;
	text-decoration: underline;
	color: #EFFFFF;
}
