/* Cascading Style Sheet for Table Views */

table.view {
	width: 100%;
}

table.mid {
	margin-left: auto;
	margin-right: auto;
}

table.view TR.title {
	font-size: 9pt;
	background-color: #0B228C;
	font-family: Tahoma, Verdana;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
}

table.view TR {
	font-size: 9pt;
	background-color: #EFEFEF;
	font-family: Tahoma, Verdana;
	vertical-align: middle;
	text-align: center;
}

TD.priB {
	background-color: #0B228C;
	color: #FFFFFF;
	font-weight: bold;
}

TD.secB {
	background-color: #E00303;
	color: #FFFFFF;
	font-weight: bold;
}

TD.def {
	background-color: #EFEFEF;
	color: #000000;
}

/* Table row classes for view legends */
table.view *.opt1 {
	background-color: #EFEFBF;
}

table.view *.opt2 {
	background-color: #A0FFD8;
}

table.view *.opt3 {
	background-color: #B0E0FF;
}

table.view *.opt4 {
	background-color: #C8C0FF;
}

table.view *.warn {
	background-color: #FFEFC0;
}

table.view *.err {
	background-color: #FFC0C0;
}

*.title :link, *.title :visited, *.title A {
	font-size: 9pt;	
	font-family: Tahoma, Verdana;
	font-weight: bold;
	text-decoration: underline;
	color: #FFFFFF;
}

table.view TR :link, table.view TR :visited {
	color: inherit;
	text-decoration: none;
}
